html,
body,
body>div:first-child,
div#__next,
div#__next>div {
  height: 100%;
}

.overflow {
  /* height: 50%; */
  overflow: hidden;
}

.overflow .card-img-top {
  min-height: 200px;

  transform: scale(1);
  transition: all 0.02s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

.card-proyect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-proyect a {
  width: 50%;
}

#nprogress .bar {
  background: #10008a;
}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}

.image-container {
  width: 100%;
}

.image-container>div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}