html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.overflow {
  /* height: 50%; */
  overflow: hidden;
}

.overflow .card-img-top {
  min-height: 200px;

  transform: scale(1);
  transition: all 0.02s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

.card-proyect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-proyect a {
  width: 50%;
}

#nprogress .bar {
  background: #10008a;
}

#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}

/* Resuelve el problema que genera el componente Image al aplicar layout="fill" */

.image-container {
  width: 100%;
}

.image-container > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Media querys */
@media screen and (min-width: 768px) {
}

/* Revisando porque el media query no afecta los botones */
/* Media Querys

- 320px
- 480px
- 768px
- 1024px
- 1366px
- 1440px
- 1920px */
